PORT=5000
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/eventhub?retryWrites=true&w=majority
ASGARDEO_JWKS_URI=https://api.asgardeo.io/t/<your-root-org>/oauth2/jwks
ASGARDEO_ISSUER=https://api.asgardeo.io/t/<your-root-org>/oauth2/token
CLIENT_ORIGIN=http://localhost:5173
